/* Toàn màn hình cho cây thông Noel */
body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: #000000;
  overflow: hidden; /* Không cho scroll */
}

#root {
  width: 100vw;
  height: 100vh;
}